unsync
trio==0.16.0
trio_asyncio==0.11.0

aiohttp
cchardet
requests
bs4
colorama

# This one can give you trouble on Windows
# Feel free to uncomment it but it also works without it
# Just a little less well.
# aiodns
